[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
pyinstaller = "*"
setuptools = "<45.0.0"

[packages]
pyyaml = "*"
termcolor = "*"
tabulate = "*"
rethinkdb = "*"

[requires]
python_version = "3.8"

[scripts]
heck = "python heck.py"
init = "python game/init.py"
lint = "python -m flake8 ."
build = "sh bin/build.sh"
